<div class="carousel">
  <div class="carousel-content">
    <div *ngIf="noCarousel">
      There is something went wrong with the carousel.
    </div>
    <ng-content></ng-content>
  </div>
  <div class="carousel-arrow-left">
    <a class="arrow left" (click)="prevItem()"></a>
  </div>
  <div class="carousel-arrow-right">
    <a class="arrow right" (click)="nextItem()"></a>
  </div>
  <div class="carrousel-pagination-content">
    <a *ngFor="let item of paginationItems" [class.active]="item.active" (click)="moveItem(item.idx)"></a>
  </div>
</div>