$navigation-dark-background: rgba(black, 0.5);
$navigation-light-background: rgba(black, 0.2);
$white: rgb(255, 255, 255);

.carousel {
  width: 100%;
  height: 550px;
  max-width: 1300px;
  padding: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 3px 1px $navigation-light-background;
  user-select: none;
  position: relative;
  margin: 0 auto;
  .carousel-content {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: $white;
  }
}

:host ::ng-deep .carousel-item {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  img {
    width: 100%;
    height: 100%;
  }
}

.carousel-arrow-left,
.carousel-arrow-right {
  height: 60px;
  width: 60px;
  opacity: 0;
  position: absolute;
  z-index: 9999;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-arrow-left {
  left: 0;
}
.carousel-arrow-right {
  right: 0;
}
.carousel-arrow-left:hover,
.carousel-arrow-right:hover {
  background: $navigation-dark-background;
  cursor: pointer;
  opacity: 1;
}
a.arrow {
  border: solid $white;
  border-width: 0px 10px 10px 0;
  height: 25px;
  width: 25px;
  display: inline-block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  &.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  &.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

.carrousel-pagination-content {
  position: absolute;
  bottom: 0;
  z-index: 9999;
  height: 50px;
  left: 0;
  text-align: right;
  line-height: 50px;
  right: 0;
  padding-right: 20px;
  a {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    line-height: 50px;
    vertical-align: middle;
    background: $white;
    &:hover,
    &.active {
      background: $navigation-light-background;
    }
  }
}

:host ::ng-deep .moveRightCurrent {
  animation-name: moveRightCurrent;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
:host ::ng-deep .moveRightPrev {
  animation-name: moveRightPrev;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

:host ::ng-deep .moveLeftCurrent {
  animation-name: moveLeftCurrent;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
:host ::ng-deep .moveLeftNext {
  animation-name: moveLeftNext;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes moveLeftCurrent {
  from {
    margin-left: 0;
    opacity: 1;
  }
  to {
    margin-left: -100%;
    opacity: 1;
  }
}
@keyframes moveLeftNext {
  from {
    margin-left: 100%;
    opacity: 1;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}

@keyframes moveRightCurrent {
  from {
    margin-left: 0;
    opacity: 1;
  }
  to {
    margin-left: 100%;
    opacity: 1;
  }
}
@keyframes moveRightPrev {
  from {
    margin-left: -100%;
    opacity: 1;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}

@media only screen and (max-width: 767px) {
  .carousel {
    height: 200px;
  }
}
