<app-carousel autoplay="true" interval="5000" disable-mobile-pagination="true">
  <div #carouselItem class="carousel-item">
    <img src="../assets/carousel/home1.jpg" alt="home1" />
  </div>
  <div #carouselItem class="carousel-item">
    <img src="../assets/carousel/home2.jpg" alt="home2" />
  </div>
  <div #carouselItem class="carousel-item">
    <img src="../assets/carousel/home3.jpg" alt="home3" />
  </div>
  <div #carouselItem class="carousel-item">
    <img src="../assets/carousel/home4.jpg" alt="home4" />
  </div>
</app-carousel>
